@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1400px;
      padding-left:75px;
      padding-right:75px;
    }
}
.adsdb-platform{
  padding:16px 40px;
}
.slick-slider-platform .slick-dots li button,.slick-slider-platform .slick-dots li{
  width:8px;
  height:8px;
  border-radius:8px;
  padding:0;
}
.slick-slider-platform .slick-dots li{
  margin:4px;
}
.slick-slider-platform .slick-dots li{
  background:transparent;
}
.slick-slider-platform .slick-dots li.slick-active button,.slick-slider-platform .slick-dots li.slick-active{
  width:40px;
}
@media screen and (max-width:1200px){
  .adsdb-platform{
    padding:16px 10px;
  }
}
/* testimonial style */
.testimonial_dots{
  display:flex;
  flex-direction:column;
  align-items: center;
  text-align:center;
  padding-right:16px;
  width:32px;
}
.testimonial_dots ul{
  margin-bottom:0;
  padding-left:0;
  list-style-type: none;
}
.testimonial_dot{
  width: 8px;
  height: 8px;
  border-radius:50%;
  background: #E4E9F2;
  border:none;
  padding:0;
  transition:all .4s ease;
}
.testimonial_dot:not(:last-child){
  margin-bottom:12px;
}
.testimonial_dots li.active .testimonial_dot{
  width:12px;
  height:12px;
  background: #7356C0;
  box-shadow: 2px 2px 8px rgba(115, 86, 192, 0.16);
}
/* new added */
/* mobile menu styles */
.main_header_center a{


  padding-top: 0;
  padding-bottom: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.4px;
  color:#2E3A59;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
  }
.main_header_center a:hover{
  color:#7356C0;
}
@media screen and (max-width:992px){
  .main_header_center{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#fff;
    z-index:999;
    padding-top:100px;
    transform: translate(100%);
    transition: all .6s ease;
  } 
  .main_header_center span{
    display:block;
    text-align:center;
    margin-bottom:15px;
  }
  .activeMenu{
    transform: translate(0) !important;
  }
}
