/* footer styles */
.street_footer_bottom{
    padding-top:18px;
    padding-bottom:18px;
}
.copyright{
    margin-bottom:0;
    display:flex;
    align-items:center;
}
.copyright span{
    margin-left:16px;
}
.copyright span,.terms{
    color:#8F9BB3;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.terms{
    transition:all .4s ease;
}
.terms:hover{
    color:#7356C0;
}
.create_champing{
    padding-top:16px;
    padding-bottom:16px;
    text-align:center;
    border-top:1px solid #E4E9F2;
    border-bottom:1px solid #E4E9F2;
}
.create_champing .create_champ_btn{
    height:48px;
    font-size: 16px;
    line-height:48px;
}
.create_champing span{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #7356C0;
    margin-right:40px;
}
.street_footer_bottom,.street_footer_center{
    margin:0;
}
.footer_custom_contain{
    max-width:1400px;
    margin:auto;
}
.street_footer_top{
    border-top:1px solid #E4E9F2;
    padding-top:48px;
    padding-bottom:28px;
}
.footer_social{
    padding-left:0;
    margin:0;
    list-style-type:none;
}
.footer_social li{
    display:inline-block;
    margin-right:24px;
}
.ft_left_p{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #8F9BB3;
    margin-top:20px;
    margin-bottom:48px;
}
.footer_social li a{
    display:inline-block;
    transition:all .4s ease;
}
.footer_social li a:hover{
    transform:scale(1.2);
}
.footer_tt{
    color:#8F9BB3;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-bottom:8px;
    border-bottom:1px solid #E4E9F2;
    min-width:138px;
    display:inline-block;
}
.footer_contact,.footer_nav{
    padding-left:0;
    margin:0;
    list-style-type:none;
}
.footer_contact li span,.footer_contact li a{
    color:#2E3A59;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left:16px;
    transition:all .4s ease;
}
.footer_contact li{
    display:flex;
    align-items:center;
    margin-bottom:26px;
}
.footer_contact li:first-child{
    align-items:flex-start;
}
.footer_contact li a:hover{
    color:#7356C0;
}
.footer_nav li{
    margin-bottom:12px;
}
.footer_nav li a{
    color:#2E3A59;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition:all .4s ease;
}
.footer_nav li a:hover{
    color:#7356C0;
}
@media screen and (max-width:1200px){
    .ft_left_p{
        margin-bottom:20px;
    }
    .street_footer_top{
        padding-top:36px;
        padding-bottom:0;
    }
    .footer_social{
        padding-bottom:12px;
    }
}
@media screen and (max-width:576px){
    .street_footer{
        padding-left:20px;
        padding-right:20px;
    }
    .street_footer_center span{
        margin-right:0;
        margin-bottom:12px;
        display:block;
    }
}
/* create_champ_btn styles */
.create_champ_btn{
    background: #7356C0;
    border-radius: 8px;
    color:#fff;
    display:inline-block;
    height:40px;
    border:1px solid #7356C0;
    padding-left:16px;
    padding-right:16px;
    text-align:center;
    min-width:186px;
    line-height:36px;
    font-weight: 500;
    transition:all .4s ease;
}
.create_champ_btn:hover{
    background:transparent;
    color:#7356C0;
}
/* starts contact page */
.contact_section{
    padding-top:70px;
    padding-bottom:140px;
}
.contact_cover{
    min-height:288px;
    border-radius: 16px;
    background-image:url('../../images/streetiq/contact-bg.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right;
    position:relative;
    overflow:hidden;
}
.contact_inner{
    background: linear-gradient(90deg, #3A2A62 0%, #3A2A62 52.6%, rgba(58, 42, 98, 0.67) 70.83%, rgba(58, 42, 98, 0) 100%);
}
.contact_left{
    padding:72px 32px 72px 80px;
    border-top-left-radius:16px;
    border-bottom-left-radius:16px;
}
.contact_left h4{
    font-weight: 600;
    font-size: 34px;
    color:#fff;
    margin-bottom:16px;
}
.contact_p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:#fff;
    max-width:544px;
}
.social_icons{
    list-style-type:none;
    padding-left:0;
    margin-bottom:0;
}
.social_icons li{
    display:inline-block;
    margin-right:24px;
}
@media screen and (max-width:992px){
    .contact_cover{
        background-size:cover;
    }
    .contact_container{
        max-width:100%;
        padding-left:20px;
        padding-right:20px;
    }
    .contact_section{
        padding-top:0;
        padding-bottom:40px;
    }
    .contact_left{
        padding:48px 32px;
    }
}
@media screen and (max-width:767px){
    .contact_left{
        padding:48px 32px 20px;
    }
}
@media screen and (max-width:576px){
    .contact_left h4{
        font-size:24px;
        margin-bottom:8px;
    }
    .contact_p{
        font-size:12px;
    }
    .contact_left{
        padding:40px 20px 20px;
    }
}
.contact_left .create_champ_btn{
    background:#fff;
    color:#7356C0;
    height:48px;
    font-size:16px;
    line-height:46px;
}
.contact_left .create_champ_btn svg{
    margin-left:4px;
}
.transform_ads{
    max-width:1000px;
    margin:70px auto 40px auto;
}
.transform_ads_h4,.transform_ads_txt{
    text-align:center;
    padding-left:20px;
    padding-right:20px;
}
.transform_ads_h4{
    color:#7356C0;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    max-width:560px;
    margin:4px auto 16px auto;
}
.transform_ads_txt{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8F9BB3;
    max-width:832px;
    margin:auto;
}
.transform_items{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.transform_items article{
    width:25%;
    padding:20px 36px;
    margin-top:28px;
}
.transform_item{
    background: #F7F9FC;
    border-radius: 8px;
    text-align:center;
    transition:all .4s ease;
}
.transform_item a{
    display:block;
    width:100%;
    height:100%;
    padding:32px;
    border-radius:8px;
}
.transform_item:hover{
    background-color:rgba(109, 92, 155, 0.09);
}
.transform_item p{
    color:#2E3A59;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-top:24px;
}
.transform_ads_cover{
    position: relative;
}
.ads_bg{
    position: absolute;
    bottom:0;
    right:0;
}
@media screen and (max-width:992px){
    .transform_items article{
        padding:10px;
    }
    .transform_items{
        padding-left:20px;
        padding-right:20px;
    }
}
@media screen and (max-width:767px){
    .transform_items{
        margin-top:24px;
    }
    .transform_items article{
        width:50%;
        margin-top:0;
    }
}
@media screen and (max-width:400px){
    .transform_items article{
        width:100%;
    }
    .transform_ads_h4{
        font-size:24px;
        line-height:32px;
        margin-top:0;
    }
}
/* main brand slider styles */
.main_brand_slider{
    padding-top:70px;
    padding-bottom:100px;
}
.main_brand_slider h2,.get_tailored h2{
    color: #7356C0;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    text-align:center;
    max-width:710px;
    margin:16px auto;
    padding-left:20px;
    padding-right:20px;
}
.main_slider_txt,.main_tailored_txt{
    max-width: 776px;
    margin:auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8F9BB3;
    text-align:center;
    padding-left:20px;
    padding-right:20px;
}
/* get tailored styles */
.tailored_email_block{
    max-width:720px;
    padding-left:20px;
    padding-right:20px;
    margin:50px auto 0 auto;
    display:flex;
}
.tailored_btn{
    min-width:150px;
    background:#7356C0;
    color:#fff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align:center;
    border:1px solid #7356C0;
    transition:all .4s ease;
    margin-left:16px;
    height:48px;
}
.tailored_btn svg{
    margin-left:10px;
}
.tailored_btn:hover{
    background:transparent;
    color:#7356C0;
}
.tailored_btn:hover svg path{
    fill:#7356C0;
}
.email_block{
    width:100%;
    position:relative;
}
.email_block input{
    height:48px;
    background: #F7F9FC;
    border: 1px solid #E4E9F2;
    border-radius:8px;
    padding-left:52px;
    padding-right:20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.email_block svg{
    position:absolute;
    left:16px;
    top:12px;
}
.tailored_img{
    height:444px;
    overflow:hidden;
    border: 1px solid #E4E9F2;
    filter: drop-shadow(16px 16px 32px rgba(0, 0, 0, 0.08));
    border-radius: 20px;
}
.tailored_img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.tailored_contain{
    margin-top:140px;
}
.tailored_left{
    padding-top:70px;
    padding-right:40px;
}
.tailored_h4{
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    color: #2E3A59;
    margin-bottom:32px;
}
.tailored_h4 a{
    color:#7356C0;
}
.tailored_p{
    font-weight:500;
    font-size:16px;
    line-height:24px;
    color: #8F9BB3;
    max-width:266px;
    margin-bottom:32px;
}
.main_diagram .tailored_left{
    padding-right:0;
}
.get_tailored{
    padding-bottom:50px;
    padding-top:50px;
}
.tailored_left .create_champ_btn:hover svg path{
    stroke:#7356C0;
}
.str1_bg{
    position:absolute;
    bottom:0;
    right:0;
}
.str2_bg{
    position:absolute;
    left:0;
    bottom:-100px;
}
.str1_bg,.str2_bg{
    z-index:-1;
    pointer-events:none;
}
@media screen and (max-width:992px){
    .tailored_contain{
        max-width:100%;
        padding:0 20px;
    }
    .tailored_contain{
        margin-top:32px;
    }
    .get_tailored{
        padding-bottom:20px;
        padding-top:20px;
    }
}
@media screen and (max-width:767px){
    .tailored_left{
        padding-top:20px;
        padding-right:0;
    }
    .tailored_h4{
        font-size:24px;
        line-height:32px;
    }
    .main_brand_slider{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .tailored_email_block{
        margin-top:32px;
    }
    .tailored_img{
        margin-top:20px;
    }
    .tailored_img{
        height:320px;
    }
}
@media screen and (max-width:576px){
    .tailored_email_block{
        flex-direction:column;
    }
    .tailored_btn{
        margin-left:0;
        margin-top:10px;
    }
    .main_brand_slider h2,.get_tailored h2{
        font-size:24px;
        line-height:32px;
        margin-top:0;
    }
}
/* success stories style */
.success_stories{
    padding-top:70px;
    padding-bottom:100px;
}
.success_stories h2,.success_stories_txt,.target_local h2,.target_local_txt,.ads_double h2,.ads_double_txt{
    padding-left:20px;
    padding-right:20px;
}
.success_stories h2,.target_local h2,.ads_double h2{
    color:#7356C0;
    text-align:center;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    margin-bottom:16px;
}
.success_stories_txt,.target_local_txt,.ads_double_txt{
    color: #8F9BB3;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align:center;
    max-width:468px;
    margin:auto;
}
/* target local styles */
.target_local{
    padding-top:70px;
    padding-bottom:40px;
}
.target_local_txt,.ads_double_txt{
    max-width:600px;
}
.target_local_img{
    height:528px;
    overflow:hidden;
    margin-top:48px;
}
.target_local_img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
@media screen and (max-width:992px){
    .target_local{
        padding-top:20px;
        padding-bottom:20px;
    }
    .success_stories h2,.target_local h2,.ads_double h2{
        font-size:24px;
        line-height:32px;
    }
    .target_local_img{
        margin-top:20px;
        height:280px;
    }
    .success_stories{
        padding-top:24px;
        padding-bottom:40px;
    }
}
/* start adsdouble style */
.ads_double{
    padding-top:70px;
    padding-bottom:50px;
}
.slider_item_img{
    width: 100%;
    height: 312px;
    overflow: hidden;
    border-radius: 20px;
}
.slider_item_img img{
    width:100%;
    height:100%;
}
.ads_double_tt{
    text-align:center;
    color:#8F9BB3;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom:0;
    margin-top:48px;
}
@media screen and (max-width:576px){
    .ads_double{
        padding-top:24px;
        padding-bottom:40px;
    }
    .ads_double_tt{
        margin-top:42px;
    }
    .slider_item_img{
        height:240px;
    }
}
/* happy street styles */
.happy_street{
    padding:50px 20px;
    position:relative;
}
.happy_bg_img{
    position: absolute;
    bottom:0;
    right:0;
    pointer-events:none;
    z-index:-1;
}
.happy_h5{
   text-align:center;
   font-weight: 600;
    font-size: 34px;
    color: #7356C0;
}
.view_demo_btn{
    background: #7356C0;
    border-radius: 8px;
    color:#fff;
    display:inline-block;
    height:40px;
    border:1px solid #7356C0;
    padding-left:16px;
    padding-right:16px;
    text-align:center;
    min-width:186px;
    line-height:36px;
    font-weight: 500;
    transition:all .4s ease;
}
.view_demo_btn:hover{
    background:transparent;
    color:#7356C0;
}
.view_demo_btn svg{
    margin-left:4px;
}
.view_demo_btn:hover svg path{
    stroke:#7356C0;
}
.happy_map{
    margin-top:40px;
    height:444px;
    overflow:hidden;
    filter: drop-shadow(16px 16px 32px rgba(0, 0, 0, 0.08));
    border-radius: 20px;
    position: relative;
}
.happy_map img,.happy_map iframe{
    width:100%;
    height:100%;
    object-fit:cover;
}
.happy_blocks{
    position: relative;
    background:#fff;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    max-width:800px;
    margin:auto;
    padding:35px;
    top:-75px;
}
.happy_block_inner{
    text-align:center;
}
.happy_block_inner span{
    color:#8F9BB3;
    font-weight: 500;
    font-size: 14px;
}
.happy_block_inner p{
    color: #7356C0;
    font-weight: 500;
    font-size: 34px;
    margin-bottom:8px;
}
.happy_block:not(:last-child){
    border-right:1px solid #E4E9F2;
}
.happy_demo_txt{
    color:#8F9BB3;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align:center;
    max-width:600px;
    margin:-36px auto 16px auto;
}
.happy_select{
    position:absolute;
    top:16px;
    right:16px;
}
.happy_select select{
    background: rgba(247, 249, 252, 0.64);
    border: 1px solid rgba(228, 233, 242, 0.64);
    border-radius: 4px;
    height:36px;
    padding-left:8px;
    padding-right:36px;
    color:#2E3A59;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    -webkit-appearance: none; 
    appearance: none;
}
.happy_select select:focus{
    outline:none;
}
.happy_select svg{
    position:absolute;
    right:8px;
    top:8px;
    pointer-events:none;
}
@media screen and (max-width:1200px){
    .happy_street{
        padding:20px;
    }
}
@media screen and (max-width:992px){
    .happy_h5{
        font-size:24px;
    }
    .happy_container{
        max-width:100%;
        padding:0;
    }
    .happy_blocks{
        max-width:94%;
    }
}
@media screen and (max-width:767px){
    .happy_map{
        height:340px;
    }
    .happy_block:not(:last-child){
        border-right:none;
    }
    .happy_block:first-child,.happy_block:nth-child(2){
        border-bottom:1px solid #E4E9F2;
        padding-bottom:20px;
    }
    .happy_block:nth-child(3),.happy_block:nth-child(4){
        padding-top:20px;
    }
}
/* main ab testing section styles */
.main_ab_testing{
    position:relative;
    padding-top:70px;
}
.title_h2{
    color:#7356C0;
    font-weight: 600;
    font-size: 34px;
    max-width:725px;
    margin:0 auto 16px auto;
}
.title_h2,.main_sub_txt{
    padding-left:20px;
    padding-right:20px;
    text-align:center;
}
.main_sub_txt{
    color:#8F9BB3;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    max-width:620px;
    margin:auto;
}
.main_ab_img{
    height:444px;
    overflow:hidden;
    border: 1px solid #E4E9F2;
    filter: drop-shadow(16px 16px 32px rgba(0, 0, 0, 0.08));
    border-radius: 20px;
}
.main_ab_img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.main_ab_items{
    padding-top:70px;
}
.main_ab_item{
    margin-bottom:70px;
}
.main_ab_txt h4{
    font-weight: 600;
    font-size: 34px;
    line-height:40px;
    color:#2E3A59;
    margin-bottom:16px;
}
.main_ab_txt{
    padding-right:40px;
}
.main_ab_txt p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8F9BB3;
}
.vector1_img,.vector2_img{
    position:absolute;
    pointer-events:none;
    z-index:-1;
}
.vector1_img{
    right:0;
    bottom:0;
}
.vector2_img{
    left:0;
    bottom:0;
}
@media screen and (min-width:992px){
    .main_ab_item:nth-child(even) .main_ab_row{
        display:flex;
        flex-direction: row-reverse;
    }
    .main_ab_item:nth-child(even) .main_ab_row .main_ab_txt{
        padding-left:40px;
        padding-right:0;
    }
}
@media screen and (max-width:992px){
    .main_ab_items{
        max-width:100%;
        padding-left:20px;
        padding-right:20px;
    }
    .main_ab_testing{
        padding-top:40px;
    }
}
@media screen and (max-width:767px){
    .title_h2{
        font-size:24px;
        line-height:32px;
    }
    .main_ab_items{
        padding-top:40px;
    }
    .main_ab_txt h4{
        font-size:20px;
        line-height:28px;
        margin-bottom:10px;
    }
    .main_ab_img{
        height:300px;
    }
    .main_ab_item{
        margin-bottom:24px;
    }
}
@media screen and (max-width:576px){
    .main_ab_img{
        height:60vw;
    }
    .main_ab_txt{
        padding-right:0;
    }
}
/* murmur utilities styles */
.murmur_utilities{
    position: relative;
    padding-top:70px;
    padding-bottom:40px;
}
.vision_bg1,.vision_bg2{
    position:absolute;
    pointer-events:none;
    z-index:-1;
}
.vision_bg1{
    right:0;
    bottom:0;
}
.vision_bg2{
    left:0;
    bottom:0;
}
.utilites_row{
    margin-top:48px;
    max-width:1000px;
}
.utilites_each{
    padding:32px;
    text-align:center;
    margin-bottom:32px;
}
.utilites_each p{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #2E3A59;
    margin-top:24px;
    margin-bottom:0;
}
@media screen and (max-width:576px){
    .utilites_each p{
        font-size:16px;
    }
    .utilites_each{
        padding:16px;
    }
    .murmur_utilities{
        padding-top:20px;
        padding-bottom:0;
    }
}
/* system_works styles */
.system_works{
    padding-top:70px;
    padding-bottom:70px;
    position:relative;
}
.system_works .vision_bg1{
    top:0;
}
@media screen and (max-width:576px){
    .system_works{
        padding-top:32px;
    }
}
/* testimonial styles */
.main_testimonial{
    padding-top:70px;
    padding-bottom:32px;
    position:relative;
}
.testimonial_slider{
    padding-top:54px;
}
.testimonial_item{
    padding-left:32px;
}
.testimonial_item p{
    color:#2E3A59;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom:12px;
}
.testimonial_item ul,.testimonial_left{
    padding-left:0;
    margin-bottom:0;
    list-style-type:none;
}
.testimonial_item ul li{
    display:inline-block;
    margin-right:12px;
}
.testimonial_txt{
    margin-top:34px;
    color: #2E3A59;
    font-size: 16px;
    line-height: 24px;
}
.testimonial_left{
    width:calc(100% - 32px);
}
.testimonial_left li{
    margin-bottom:16px;
}
.testimonial_left_item{
    display:flex;
    justify-content:flex-start;
    background: #fff;
    border-radius: 16px;
    padding:24px;
}
.profil_left_img{
    width:44px;
    height:44px;
    border-radius:50%;
    overflow:hidden;
}
.profil_left_txt{
    width:calc(100% - 44px);
    padding-left:24px;
}
.profil_left_txt p{
    color:#2E3A59;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom:2px;
}
.profil_left_txt span{
    color: #8F9BB3;
    font-size: 12px;
    line-height: 16px;
}
.active_li .testimonial_left_item{
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.08);
}
.testimonial_bg{
    position:absolute;
    left:0;
    top:160px;
    pointer-events:none;
    z-index:-1;
}
.testimonial_inner{
    display:flex;
    align-items:center;
}
@media screen and (max-width:992px){
    .testimonial_slider{
        max-width:100%;
        padding-left:20px;
        padding-right:20px;
    }
    .main_testimonial{
        padding-top:32px;
    }
}
@media screen and (max-width:576px){
    .testimonial_item{
        padding-left:0;
    }
    
}
/* our technology styles */
.our_tech_cover{
    position:relative;
    padding-top:70px;
    padding-bottom:40px;
}
.our_tech_item{
    padding:36px 20px;
}
.our_tech_img{
    background: #F7F9FC;
    width:48px;
    height:48px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.our_tech_item p{
    color:#2E3A59;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-top:16px;
}
.our_tech_txt{
    color: #8F9BB3;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    max-width:280px;
}
.tech_bg1,.tech_bg2{
    position:absolute;
    pointer-events:none;
    z-index:-1;
}
.tech_bg1{
    top:-50px;
    left:0;
}
.tech_bg2{
    right:0;
    top:50px;
}
.tech_other{
    position:relative;
    min-height:288px;
    overflow:hidden;
    background-image:url('../../images/mainlanding/tech.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    border-radius: 16px;
    margin-top:48px;
    margin-bottom:32px;
}
.tech_inner{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
    display: flex;
    align-items:center;
}
.tech_inner p{
    color:#fff;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    padding:32px 32px 32px 80px;
}
.tech_bottom{
    margin-top:32px;
    padding-left:20px;
    padding-right:20px;
}
.tech_bottom h4{
    color:#2E3A59;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom:16px;
    max-width:255px;
}
.tech_bottom p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8F9BB3;
}
@media screen and (max-width:992px){
    .our_tech_contain{
        max-width:100%;
    }
}
@media screen and (max-width:767px){
    .our_tech_cover{
        padding-top: 32px;
        padding-bottom: 12px;
    }
    .our_tech_item{
        padding:20px;
    }
    .tech_bg1,.tech_bg2{
        display:none;
    }
    .tech_inner p{
        font-size:32px;
        padding:20px 32px;
    }
    .tech_other{
        min-height:240px;
    }
    .tech_bottom{
        margin-top:10px;
    }
    .tech_bottom h4{
        font-size: 20px;
        line-height: 28px;
    }
}
/* main_diagram styles */
.main_diagram{
    padding-top:70px;
    padding-bottom:70px;
}
.diagram_col{
    background:#fff;
}
/* leading section styles */
.street_leading_section{
    padding-top:32px;
    padding-bottom:50px;
}
.leading_tt{
    text-align:center;
    color:#2E3A59;
    font-weight: 500;
    font-size: 24px;
    max-width:950px;
    margin-left:auto;
    margin-right:auto;
}
.leading_items{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:44px;
}
.leading_item{
    margin-left:50px;
    margin-right:50px;
}
@media screen and (max-width:1200px){
    .leading_items{
        margin-top:40px;
    }
    .leading_item{
        margin-left:24px;
        margin-right:24px;
    }
    .leading_item img{
        width:90%;
    }
    .leading_tt{
        padding-left:20px;
        padding-right:20px;
    }
}
@media screen and (max-width:767px){
    .leading_tt{
        font-size:20px;
        padding-top:20px;
    }
    .leading_items{
        margin-top:32px;
        flex-wrap: wrap;
    }
    .leading_item{
        width:calc(50% - 48px);
        text-align:center;
        margin-bottom:36px;
    }
    .leading_item img{
        max-width: 140px;
    }
    .street_leading{
        padding-bottom:0;
    }
}
@media screen and (max-width:576px){
    .street_leading_section{
        padding-top:0;
        padding-bottom:0;
    }
    .leading_item img{
        max-width: 120px;
    }
    .main_diagram{
        padding-top:0;
        padding-bottom:40px;
    }
    .street_leading{
        padding-bottom:0;
    }
    .main_top_info .tailored_h4{
        margin-bottom:8px;
    }   
    .diagram_col .tailored_h4{
        font-size: 18px;
        line-height: 26px;
        margin-bottom:12px;
        padding-right:16px;
    }
    .diagram_col .tailored_p{
        margin-bottom:20px;
    }
}
/* header main lading styles */
.main_header_contain{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.main_header{
    padding:32px 0;
}
.header_contact{
    min-width:154px;
    border: 1px solid #7356C0;
    border-radius:8px;
    background:#fff;
    display:inline-block;
    height:48px;
    text-align:center;
    line-height:46px;
    color:#7356C0;
    font-weight: 500;
    font-size: 16px;
    transition:all .4s ease;
}
.header_contact svg{
    margin-left:10px;
}
.header_contact:hover svg path{
    fill:#fff;
}
.header_contact:hover{
    background:#7356C0;
    color:#fff;
}
/*main_top_info styles */
.main_top_info .tailored_p{
    max-width:384px;
}
.main_top_info .tailored_h4{
    max-width:480px;
    color:#3F2B89;
}
.main_top_section{
    padding-top:72px;
    min-height:500px;
    position:relative;
}
.main_top_img{
    float:right;
    max-width:72%;
}
.main_top_info .tailored_left{
    padding-top:0;
}
.header_bg1,.header_bg2{
    position:absolute;
    left:0;
    pointer-events:none;
    z-index:-1;
}
.header_bg1{
    top:-20px;
}
.header_bg2{
    top:60px;
}
@media screen and (max-width:992px){
    .main_top_section{
        padding-top: 0;
        min-height: auto;
    }
    .main_top_img{
        float:none;
        max-width:100%;
        margin-bottom:20px;
    }
}
@media screen and (max-width:576px){
    .main_top_contain,.main_header_contain{
        padding-left:20px;
        padding-right:20px;
    }
    .main_top_contain .tailored_left{
        margin-bottom:12px;
    }
    .main_top_info .tailored_p,.main_top_info .tailored_left{
        margin-bottom:20px;
    }
    .main_header{
        padding:20px 0;
    }
}
/* mobile menu style */
.mobile_menu{
    margin-left:12px;
}
.mobile_menu{
    padding: 0;
    height: 48px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #7356C0;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    top: -1px;
}
.mobile_menu img{
    width:32px;
}
@media screen and (min-width:992px){
    .mobile_menu{
        display:none;
    }
}
@media screen and (max-width:420px){
    .logo img{
        width:104px;
    }
    .header_contact{
        min-width: auto;
        font-size:14px;
        height: 36px;
        line-height:36px;
        padding-left:8px;
        padding-right:8px;
    }
    .mobile_menu{
        padding-left:4px;
        padding-right:4px;
        height:36px;
        top:-2px;
    }
}
@media screen and (max-width:340px){
    .header_contact span{
        display:none;
    }
    .header_contact{
        padding-left:0;
        padding-right:0;
    }
    .header_contact svg{
        margin-right: 10px;
    }
}
@media screen and (max-width:992px){
    .mobile_menu{
        position:relative;
        z-index:999;
    }
}


.main_top_img_location{
    position:absolute;
    animation: animate 2s infinite;
}

 .main_top_info .main_top_img_location:nth-child(2){
    right: 26.5rem;
    top: 8.7rem;
}
.main_top_info .main_top_img_location:nth-child(3){
    right: 41rem;
    top: 16.7rem;
}
.main_top_info .main_top_img_location:nth-child(4){
right: 24rem;
top: 20.5rem;
}



.single_img_location{
    position:absolute;
    animation: animate 2s infinite;
    right:32rem;
    top: 10rem;
    width: 20px !important;
    height: 20px !important
}
@keyframes animate {
    0% {
    transform: scale(1);
    }
    25% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1.7);
    }
    75% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}