/* street iq takeover section */

.street_row{
    align-items:center;
}
.street_iq_section1{
    height:100vh;
    position:relative;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left;
    background-image: url("../../../images/landing-page/streetiq/image_from_ios.jpg");
}
.street_header{
    padding-top:32px;
}
.header_container{
    max-width:100%;
}
.create_champ_btn{
    background: #7356C0;
    border-radius: 8px;
    color:#fff;
    display:inline-block;
    height:40px;
    border:1px solid #7356C0;
    padding-left:16px;
    padding-right:16px;
    text-align:center;
    min-width:186px;
    line-height:36px;
    font-weight: 500;
    transition:all .4s ease;
}
.create_champ_btn:hover{
    background:transparent;
    color:#7356C0;
}
.street_takeover{
    padding-top:5%;
    margin-top:5%;
    max-width:624px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-repeat: no-repeat;
    background-size:100%;
    background-position:center;
    background-image: url("../../../images/landing-page/streetiq/blur-street-bg.png");
}
.street_heading{
    color: #3F2B89;
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.0025em;
}
.street_txt{
    color:#8F9BB3;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    max-width:555px;
    margin:16px auto 40px auto;
}
.create_champ_btn svg{
    margin-left:4px;
}
.create_champ_btn:hover svg path{
    stroke:#7356C0;
}
.street_takeover .create_champ_btn{
    padding-left:24px;
    padding-right:24px;
}
@media screen and (min-width:1440px){
    .street_takeover{
        margin-top:8%;
    }
}
@media screen and (max-width:1200px){
    .header_container{
        padding-left:20px;
        padding-right:20px;
    }
}
@media screen and (max-width:767px){
    .street_heading{
        font-size:24px;
    }
    .street_takeover{
        padding-top:24px;
        margin-top:64px;
        padding-bottom:24px;
    }
    .street_iq_section1{
        height:80vh;
    }
}
@media screen and (max-width:576px){
    .logo img{
        width:100px;
    }
    .create_champ_btn{
        padding-left:8px;
        padding-right:8px;
        min-width:156px;
    }
    .street_header{
        padding-top:20px;
    }
}
/* leading section styles */
.street_leading_section{
    padding-top:32px;
    padding-bottom:50px;
}
.leading_tt{
    text-align:center;
    color:#2E3A59;
    font-weight: 500;
    font-size: 24px;
    max-width:950px;
    margin-left:auto;
    margin-right:auto;
}
.leading_items{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:44px;
}
.leading_item{
    margin-left:50px;
    margin-right:50px;
}
@media screen and (max-width:1200px){
    .leading_items{
        margin-top:40px;
    }
    .leading_item{
        margin-left:24px;
        margin-right:24px;
    }
    .leading_item img{
        width:90%;
    }
    .leading_tt{
        padding-left:20px;
        padding-right:20px;
    }
}
@media screen and (max-width:767px){
    .leading_tt{
        font-size:20px;
    }
    .leading_items{
        margin-top:32px;
        flex-wrap: wrap;
    }
    .leading_item{
        width:calc(50% - 48px);
        text-align:center;
        margin-bottom:36px;
    }
    .leading_item img{
        max-width: 140px;
    }
}
@media screen and (max-width:576px){
    .street_leading_section{
        padding-top:0;
        padding-bottom:20px;
    }
    .leading_item img{
        max-width: 120px;
    }
}
/* Benefits of local ads styles */
.benefits_section{
    margin-top:100px;
    position:relative;
}
.benefits_h2{
    color:#7356C0;
    font-weight: 500;
    font-size: 34px;
    margin-bottom:16px;
}
.benefits_txt{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8F9BB3;
    max-width:592px;
}
.benefits_items_cover{
    margin-top:48px;
    margin-bottom:40px;
}
.benefits_item_icon{
    width:56px;
    height:56px;
    background: #EADFFC;
    border-radius: 12px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:32px;
}
.benefits_item h4{
    font-weight: 500;
    font-size: 20px;
    color: #2E3A59;
}
.benefits_item p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8F9BB3;
}
.benefits_bg{
    position: absolute;
    left:0;
    top:0;
    pointer-events: none;
    z-index: -1;
}
@media screen and (max-width:1200px){
    .benefits_section{
        margin-top:48px;
        padding-left:20px;
        padding-right:20px;
    }
    .benefits_items_cover{
        margin-bottom:0;
    }
}
@media screen and (max-width:992px){
    .benefits_section{
        margin-top:32px;
    }
    .benefits_item_icon{
        margin-bottom:14px;
    }
    .benefits_h2{
        font-size:24px;
    }
}
@media screen and (max-width:576px){
    .benefits_items_cover{
        margin-top:40px;
    }
    .benefits_section{
        margin-top:8px;
    }
    .benefits_item h4{
        font-size:18px;
    }
}
/* meet_platform styles */
.meet_platform{
    padding-top:100px;
    padding-bottom:100px;
}
.meet_platform h2{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #7356C0;
    text-align:center;
    margin-bottom:22px;
}
.meet_platform_txt{
    max-width:592px;
    margin:auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8F9BB3;
    text-align:center;
}
@media screen and (max-width:1200px){
    .meet_platform h2{
        font-size:24px;
        line-height:32px;
        margin-bottom:12px;
    }
    .meet_platform{
        padding-top:24px;
    }
    .street_slider_item{
        margin-top:36px;
        margin-top:32px;
    }
}
@media screen and (max-width:992px){
    .meet_platform h2,.meet_platform_txt{
        padding-left:20px;
        padding-right:20px;
    }
    .meet_platform{
        padding-bottom:80px;
    }
}
/* our results speak for us styles */
.number_locations{
    padding-top:60px;
    padding-bottom:70px;
    position:relative;
}
.number_left{
    margin-top:80px;
}
.number_left_span{
    color: #7356C0;
    font-weight: 500;
    font-size: 20px;
}
.number_left_h5{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #2E3A59;
    margin-top:12px;
    margin-bottom:32px;
}
.number_right_ul{
    list-style-type:none;
    margin-bottom:0;
}
.number_right_ul li:not(:last-child){
    border-bottom: 1px solid rgba(32, 72, 79, 0.2);
}
.number_right_ul li{
    padding-top:24px;
    padding-bottom:24px;
}
.number_right_item{
    display:flex;
    align-items:center;
}
.number_item_info{
    padding-left:12px;
    padding-right:20px;
}
.number_right_item h6{
    min-width:200px;
    margin-bottom:0;
    font-weight: 500;
    font-size: 50px;
    color: #7356C0;
}
.number_item_info p{
    font-weight: 500;
    font-size: 20px;
    color: #2E3A59;
    margin-bottom:8px;
}
.number_item_info span{
    font-size: 16px;
    line-height: 24px;
    color: #8F9BB3;
}
.number_bg_img{
    position:absolute;
    right:0;
    bottom:0;
}
@media screen and (max-width:1200px){
    .number_locations{
        padding:0 20px 32px 20px;
    }
    .number_right_item h6{
        font-size:40px;
        min-width:160px;
    }
    .number_left_h5{
        font-size: 24px;
        line-height: 32px;
    }
}
@media screen and (max-width:767px){
    .number_left{
        margin-top:0;
        margin-bottom:20px;
    }
    .number_right_ul{
        padding-left:0;
    }
}
@media screen and (max-width:576px){
    .number_right_item{
        flex-direction:column;
        align-items:flex-start;
    }
    .number_item_info{
        padding-left:0;
        padding-top:4px;
    }
    .number_right_item h6{
        font-size:32px;
    }
    .number_right_ul li{
        padding-top:20px;
        padding-bottom:20px;
    }
}
/* happy street styles */
.happy_street{
    padding:70px 20px;
    position:relative;
}
.happy_bg_img{
    position: absolute;
    bottom:0;
    right:0;
    pointer-events:none;
    z-index:-1;
}
.happy_h5{
   text-align:center;
   font-weight: 600;
    font-size: 34px;
    color: #7356C0;
}
.view_demo_btn{
    background: #7356C0;
    border-radius: 8px;
    color:#fff;
    display:inline-block;
    height:40px;
    border:1px solid #7356C0;
    padding-left:16px;
    padding-right:16px;
    text-align:center;
    min-width:186px;
    line-height:36px;
    font-weight: 500;
    transition:all .4s ease;
}
.view_demo_btn:hover{
    background:transparent;
    color:#7356C0;
}
.view_demo_btn svg{
    margin-left:4px;
}
.view_demo_btn:hover svg path{
    stroke:#7356C0;
}
.happy_map{
    margin-top:40px;
    height:444px;
    overflow:hidden;
    filter: drop-shadow(16px 16px 32px rgba(0, 0, 0, 0.08));
    border-radius: 20px;
    position: relative;
}
.happy_map img,.happy_map iframe{
    width:100%;
    height:100%;
    object-fit:cover;
}
.happy_blocks{
    position: relative;
    background:#fff;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    max-width:800px;
    margin:auto;
    padding:35px;
    top:-75px;
}
.happy_block_inner{
    text-align:center;
}
.happy_block_inner span{
    color:#8F9BB3;
    font-weight: 500;
    font-size: 14px;
}
.happy_block_inner p{
    color: #7356C0;
    font-weight: 500;
    font-size: 34px;
    margin-bottom:8px;
}
.happy_block:not(:last-child){
    border-right:1px solid #E4E9F2;
}
/*.happy_block:first-child span{
    display:inline-block;
    margin-top:59px;
}*/
.happy_demo_txt{
    color:#8F9BB3;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align:center;
    max-width:600px;
    margin:-36px auto 16px auto;
}
.happy_select{
    position:absolute;
    top:16px;
    right:16px;
}
.happy_select.happy_istanbulAndtbilisi_select{
    top:26px;
    right:56px;
}
.happy_select select{
    background: rgba(247, 249, 252, 0.64);
    border: 1px solid rgba(228, 233, 242, 0.64);
    border-radius: 4px;
    height:36px;
    padding-left:8px;
    padding-right:36px;
    color:#2E3A59;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    -webkit-appearance: none; 
    appearance: none;
}
.happy_select select:focus{
    outline:none;
}
.happy_select svg{
    position:absolute;
    right:8px;
    top:8px;
    pointer-events:none;
}
@media screen and (max-width:1200px){
    .happy_street{
        padding:20px;
    }
}
@media screen and (max-width:992px){
    .happy_h5{
        font-size:24px;
    }
    .happy_container{
        max-width:100%;
        padding:0;
    }
    .happy_blocks{
        max-width:94%;
    }
}
@media screen and (max-width:767px){
    .happy_map{
        height:340px;
    }
    .happy_block:not(:last-child){
        border-right:none;
    }
    .happy_block:first-child span{
        margin-top:0;
    }
    .happy_block:first-child,.happy_block:nth-child(2){
        border-bottom:1px solid #E4E9F2;
        padding-bottom:20px;
    }
    .happy_block:nth-child(3),.happy_block:nth-child(4){
        padding-top:20px;
    }
}
/* harvest and enrich styles */
.harvest_enrich{
    padding-top:50px;
    padding-bottom:70px;
}
.har_en_container h4{
    color: #7356C0;
    font-weight: 500;
    font-size: 34px;
    text-align:center;
}
.har_en_subtt{
    font-weight: 500;
    color: #8F9BB3;
    max-width:600px;
    margin:20px auto 0 auto;
    text-align:center;
}
.harvest_article,.enrich_article{
    margin-top:48px;
}
.harvest_article{
    border-right:1px solid #E4E9F2
}
.harvest_article{
    padding-right:32px;
    text-align:right;
}
.enrich_article{
    padding-left:32px;
    text-align:left;
}
.harvest_article h6,.enrich_article h6{
    font-weight: 500;
    font-size: 34px;
    margin-bottom:56px;
}
.harvest_article h6{
    color: #2E3A59;
    max-width:200px;
    margin-left:auto;
}
.enrich_article h6{
    color: #7356C0;
    max-width:144px;
}
.enrich_ul,.harvest_ul{
    list-style-type:none;
    padding-left:0;
    margin-bottom:0;
}
.enrich_ul{
    padding-right:72px;
}
.harvest_ul{
    padding-left:72px;
}
.harvest_ul li,.enrich_ul li{
    margin-top:16px;
    display:flex;
    align-items:center;
}
.harvest_ul li{
    justify-content:flex-end;
}
.harvest_ul li span,.enrich_ul li span{
    color:#2E3A59;
    font-weight: 600;
    font-size: 34px;
}
.harvest_ul li span{
    margin-right:16px;
}
.enrich_ul li span{
    margin-left:16px;
}
@media screen and (max-width:1200px){
    .har_en_container h4,.harvest_article h6,.enrich_article h6{
        font-size:24px;
    }
    .harvest_ul li span,.enrich_ul li span{
        font-size:20px;
    }
    .harvest_article,.enrich_article{
        margin-top:36px;
    }
    .harvest_article h6,.enrich_article h6{
        margin-bottom:32px;
    }
}
@media screen and (max-width:767px){
    .har_en_container{
        max-width:100%;
    }
    .harvest_enrich{
        padding-top:32px;
        padding-bottom:32px;
    }
    .harvest_article{
        text-align:left;
    }
    .harvest_article,.enrich_article{
        padding-left:20px;
        padding-right:20px;
    }
    .harvest_article h6{
        margin-right:auto;
        max-width:100%;
    }
    .enrich_article h6{
        max-width:100%;
    }
    .harvest_ul,.enrich_ul{
        padding-left:0;
        padding-right:0;
    }
    .harvest_ul li{
        flex-direction:row-reverse;
    }
    .harvest_ul li span{
        margin-left:16px;
        margin-right:0;
    }
    .harvest_article h6,.enrich_article h6{
        margin-bottom:24px;
    }
    .harvest_ul li span,.enrich_ul li span{
        font-size:16px;
    }
    .harvest_ul li,.enrich_ul li{
        margin-top:8px;
    }
    .harvest_ul li img,.enrich_ul li img{
        width:40px;
        height:40px;
    }
}
/* starts faq styles */
.faq_section{
    padding-top:70px;
    padding-left:8px;
    padding-right:8px;
}
.faq_section h2{
    color:#7356C0;
    font-weight: 500;
    font-size: 34px;
    margin-bottom:16px;
}
.faq_subtt{
    font-weight: 500;
    font-size: 16px;
    line-height:24px;
    color: #8F9BB3;
    max-width:600px;
}
/* starts contact page */
.contact_section{
    padding-top:70px;
    padding-bottom:140px;
}
.contact_cover{
    min-height:288px;
    border-radius: 16px;
    background-image:url('../../../images/landing-page/streetiq//contact-bg.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right;
    position:relative;
    overflow:hidden;
}
.contact_inner{
    background: linear-gradient(90deg, #3A2A62 0%, #3A2A62 52.6%, rgba(58, 42, 98, 0.67) 70.83%, rgba(58, 42, 98, 0) 100%);
}
.contact_left{
    padding:72px 32px 72px 80px;
    border-top-left-radius:16px;
    border-bottom-left-radius:16px;
}
.contact_right{
    padding-top:48px;
    padding-bottom:48px;
}
.contact_form{
    max-width:342px;
    margin:12px auto 0 auto;
}
.contact_left h4{
    font-weight: 600;
    font-size: 34px;
    color:#fff;
    margin-bottom:16px;
}
.contact_p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:#fff;
}
.social_icons{
    list-style-type:none;
    padding-left:0;
    margin-bottom:0;
}
.social_icons li{
    display:inline-block;
    margin-right:24px;
}
.contact_element{
    position:relative;
    margin-bottom:24px;
}
.contact_element img{
    position:absolute;
    left:16px;
    top:14px;
}
.contact_element input{
    padding-left:52px;
    padding-right:16px;
    height:48px;
    border-radius:8px;
    border: 1px solid #EDF1F7;
    background:#fff;
    font-size: 14px;
}
.contact_btn{
    border-radius: 4px;
    background:#fff;
    border:1px solid #fff;
    height:48px;
    width:100%;
    color:#7356C0;
    font-weight: 500;
    font-size: 16px;
    cursor:pointer;
    transition:all .4s ease;
}
.contact_btn:hover{
    border-color:#7356C0;
    background-color:#7356C0;
    color:#fff;
}
@media screen and (max-width:992px){
    .contact_cover{
        background-size:cover;
    }
    .contact_container{
        max-width:100%;
        padding-left:20px;
        padding-right:20px;
    }
    .contact_section{
        padding-top:0;
        padding-bottom:40px;
    }
    .contact_left{
        padding:48px 32px;
    }
    .contact_right{
        padding-right:24px;
    }
}
@media screen and (max-width:767px){
    .contact_form{
        margin-left:0;
        padding-left:32px;
        padding-right:32px;
        max-width:100%;
    }
    .contact_right{
        padding-top:0;
        padding-right:0;
    }
    .contact_left{
        padding:48px 32px 20px;
    }
}
@media screen and (max-width:576px){
    .contact_left h4{
        font-size:24px;
        margin-bottom:8px;
    }
    .contact_p{
        font-size:12px;
    }
    .contact_form{
        padding-left:20px;
        padding-right:20px;
    }
    .contact_left{
        padding:40px 20px 20px;
    }
}
/* footer styles */
.street_footer_bottom{
    padding-top:18px;
    padding-bottom:18px;
    display: flex;
    align-items: center;
}
.copyright{
    margin-bottom:0;
    display:flex;
    align-items:center;
}
.copyright span{
    margin-left:16px;
}
.copyright span,.terms{
    color:#8F9BB3;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.terms{
    transition:all .4s ease;
}
.terms:hover{
    color:#7356C0;
}
.create_champing{
    padding-top:16px;
    padding-bottom:16px;
    text-align:center;
    border-top:1px solid #E4E9F2;
    border-bottom:1px solid #E4E9F2;
}
.create_champing .create_champ_btn{
    height:48px;
    font-size: 16px;
    line-height:48px;
}
.create_champing span{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #7356C0;
    margin-right:40px;
}
.street_footer_bottom,.street_footer_center{
    margin:0;
}
.footer_custom_contain{
    max-width:1400px;
    margin:auto;
}
.street_footer_top{
    border-top:1px solid #E4E9F2;
    padding-top:48px;
    padding-bottom:28px;
}
.footer_social{
    padding-left:0;
    margin:0;
    list-style-type:none;
}
.footer_social li{
    display:inline-block;
    margin-right:24px;
}
.ft_left_p{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #8F9BB3;
    margin-top:20px;
    margin-bottom:48px;
}
.footer_social li a{
    display:inline-block;
    transition:all .4s ease;
}
.footer_social li a:hover{
    transform:scale(1.2);
}
.footer_tt{
    color:#8F9BB3;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-bottom:8px;
    border-bottom:1px solid #E4E9F2;
    min-width:138px;
    display:inline-block;
}
.footer_contact,.footer_nav{
    padding-left:0;
    margin:0;
    list-style-type:none;
}
.footer_contact li span,.footer_contact li a{
    color:#2E3A59;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left:16px;
    transition:all .4s ease;
}
.footer_contact li{
    display:flex;
    align-items:center;
    margin-bottom:26px;
}
.footer_contact li:first-child{
    align-items:flex-start;
}
.footer_contact li a:hover{
    color:#7356C0;
}
.footer_nav li{
    margin-bottom:12px;
}
.footer_nav li a{
    color:#2E3A59;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition:all .4s ease;
}
.footer_nav li a:hover{
    color:#7356C0;
}
@media screen and (max-width:1200px){
    .ft_left_p{
        margin-bottom:20px;
    }
    .street_footer_top{
        padding-top:36px;
        padding-bottom:0;
    }
    .footer_social{
        padding-bottom:12px;
    }
}
@media screen and (max-width:576px){
    .street_footer{
        padding-left:20px;
        padding-right:20px;
    }
    .street_footer_center span{
        margin-right:0;
        margin-bottom:12px;
        display:block;
    }
    .street_footer_bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .street_footer_bottom > div{
       flex:content;
       width: min-content;
    }
}

/* starts faq styles */
.street_faq_section{
    padding-top:64px;
    padding-bottom:70px;
}
@media screen and (max-width:992px){
    .street_faq_section{
        padding-top:32px;
        padding-bottom:24px;
    }
}

.location_university{
    position:absolute;
    animation: animate 2s infinite;
    right:32rem;
    top: 10rem;
    width: 20px !important;
    height: 20px !important
}
.location_park{
    position:absolute;
    animation: animate 2s infinite;
    right:30rem;
    top: 20rem;
    width: 20px !important;
    height: 20px !important
}
@media (min-width:1400px) {
    .location_university{

        right:35rem;
        

    }
    .location_park{
        right:33rem
    }
}
@media (max-width:1199px) {
    .location_university{

        right:27rem;
        top: 10.3rem;

    }
    .location_park{
        right:25rem;
        top: 20rem;
    }
}
@media (max-width:900px) {
    .location_university{

        right:20rem;
        top: 10rem;

    }
    .location_park{
        right:18rem;
        top: 20rem;
    }
}
@media (max-width:700px) {
    .location_university{

        right:14rem;
        top: 7.2rem;

    }
    .location_park{
        right:12rem;
        top: 15rem;
    }
}
@media (max-width:500px) {
    .location_university{

        right:12rem;
        top: 7rem;

    }
}
@media (max-width:428px) {
    .location_university{

        right:9rem;
        top: 7rem;

    }
    .location_park{
        right:7rem;
        top: 15rem;
    }
}
@media (max-width:375px) {
    .location_university{

        right:7rem;
        top: 7rem;

    }
    .location_park{
        right:7rem;
        top: 15rem;
    }
}
@keyframes animate {
    0% {
    transform: scale(1);
    }
    25% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1.7);
    }
    75% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}


.murmur_ads h6:first-child{
    padding: 0;
    margin:0;
}



