@media (min-width: 1200px){
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1400px;
    padding-left:75px;
    padding-right:75px;
  }
}
/* Benefits of local ads styles */
.col_pdng{
  padding-left:15px;
  padding-right:15px;
}
@media screen and (max-width:992px){
  .col_md_perfect.col-md-3{
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom:16px;
  }
}
@media screen and (max-width:767px){
  .col_md_perfect.col-md-3{
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom:10px;
  }
}
/* slick slider style */
.slick-slider-platform .slick-dots{
  background:transparent;
  bottom:-60px;
}
.slick-slider-platform .slick-dots li{
  width:117px;
  padding:0;
  background: #E4E9F2;
  height:6px;
  margin:0;
}
.slick-slider-platform .slick-dots li:last-child{
  border-top-right-radius:16px;
  border-bottom-right-radius:16px;
}
.slick-slider-platform .slick-dots li:first-child{
  border-top-left-radius:16px;
  border-bottom-left-radius:16px;
}
.slick-slider-platform .slick-dots li button{
  width:100% !important;
  background: #E4E9F2;
  border-radius: 16px;
  height:6px;
  padding:0;
  transition:all .4s ease;
}
.slick-slider-platform .slick-dots li button:before{
  line-height:10px;
  height:0;
  color:transparent;
}
.slick-slider-platform .slick-dots li.slick-active button{
  background: #7356C0;
}
.slick-slider-platform{
  padding-left:75px;
}
.slick-slider-platform .slick-track{
  display: flex;
}
@media screen and (max-width:1200px){
  .slick-slider-platform{
    padding-left:20px;
  }
}
@media screen and (max-width:992px){
  .slick-slider-platform .slick-dots{
    bottom:-40px;
  }
  .slick-slider-platform .slick-dots li,.slick-slider-platform .slick-dots li button{
    width:100%;
  }
}
.custom-col.col-md-6{
  padding-left:0;
  padding-right:0;
}
.footer-fluid{
  max-width:100%;
  padding:0;
}
.footer-fluid .col-md-12{
  padding-left:0;
  padding-right:0;
}
/* footer styles */
@media screen and (max-width:1200px){
  .footer_item.col-md-3,.footer_item.col-md-2{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer_item.col-md-3:first-child{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer_item{
    margin-bottom:24px;
  }
}
@media screen and (max-width:576px){
  .footer_item.col-md-3,.footer_item.col-md-2{
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* start faq style */
.faq-accordion .card{
  margin-bottom:16px !important;
  background:transparent;
  border: transparent;
}
.faq-accordion .card .btn-link{
  color: #2E3A59;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  text-align: left;
  padding:24px;
  transition:all .4s ease;
}
.faq-accordion .card .btn-link:focus{
  box-shadow:none;
}
.faq-accordion .card .btn-link:hover,.faq-accordion .card .btn-link:focus{
  color:#7356C0;
  text-decoration:none;
}
.faq-accordion .card .card-header{
  background: #F7F9FC;
  border-radius: 8px;
  padding:0;
}
.faq-accordion .card .card-body{
  margin-top:16px;
  background:#fff;
  border: 1px solid #F7F9FC;
  border-radius: 8px;
}
.faq-accordion .card .collapse{
  background-color:transparent;
}
.faq-accordion{
  -webkit-column: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-fill: balance;
  margin-left:-8px;
  margin-right:-8px;
}
.faq-accordion .card{
  margin-left: 8px;
  margin-right: 8px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}
.faq_plus_icon{
  width:24px;
  height:24px;
  font-size: 26px;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  margin-right:16px;
  position: relative;
  top: 0 !important;
  color:#2E3A59;
}
@media screen and (max-width:992px){
  .faq-accordion{
    -webkit-column: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    column-fill: balance;
  }
}


